<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    
    <div class="main-content">
      {{>header}}
      <p>site produced from nodejs course on udemy. this is a good doggy</p>
      <img class="portrait" src="/img/doggy.jpeg" />
    </div>
    
    {{>footer}}
  </body>
</html>
