<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>here is your help: <b>{{helpMessage}}</b></p>  
    </div>
    
    {{>footer}}
  </body>
</html>
